@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

:root {
  --app-color: #0b0e11;
  --app-color-light: #1b222b;
  --app-color-lightest: #242e3a;
}

/* Basic styling */
* {
  font-family: 'Readex Pro', sans-serif;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: var(--app-color);
  color: #FFF;
}

/*Custom Scrollbar*/

*::-webkit-scrollbar {
  font-size: 25px;
  width: 0.8rem;
}
*::-webkit-scrollbar-track {
  background: #1e1e24;
}
*::-webkit-scrollbar-thumb {
  background: rgb(194, 194, 194);
}

ul {
  list-style-type: none;
}

/*Links*/
a {
  cursor: pointer;
}

a:link {
  color: rgba(255,255,255,.5); 
  text-decoration: none;
}
a:hover {color:rgb(255, 255, 255)}
a:active {color:rgb(255, 255, 255)}
a:visited {color:rgba(255,255,255,.5)}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}

nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background-color: rgb(0, 0, 0);
  color: white;
  -ms-flex-line-pack: center;
      align-content: center;
  z-index: 100;
}

footer {
  position: relative;
  clear: both;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  height: 30rem;
  width: calc(100% + 1rem);
  bottom: -0.5rem;
  left: -0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper {
  margin-top: 3rem;
}

.valtracker-logo-small {
  width: 4rem;
  position: relative;
  top: -0.5rem;
}

.valtracker-logotext {
  position: relative;
  top: -2rem;
  font-weight: 400;
  font-size: 1.5em;
}

.logo-plus-backtotop {
  margin-left: 0.5rem;
  margin-right: 2rem;
}

.navbar-span {
  margin-right: 2rem;
  font-size: 1.1em;
  font-weight: 200;
  margin-top: 0.75rem;
  display: inline-block;
}

.about-the-project {
  display: inline-block;
  cursor: pointer;
}

.about-the-project::after {
  position: absolute;
  content: "";
  top: 80%;
  left: 16.5rem;
  width: 10rem;
  height: 1px;
  background: #fff1ff;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-box-shadow:
  0 0 20px rgba(255, 255, 255, 0.7),
  0 0 40px rgba(207, 207, 207, 0.7),
  0 0 100px rgba(138, 138, 138, 0.7);
          box-shadow:
  0 0 20px rgba(255, 255, 255, 0.7),
  0 0 40px rgba(207, 207, 207, 0.7),
  0 0 100px rgba(138, 138, 138, 0.7);
}

.about-the-project:hover::after {
  -webkit-transform: scaleX(1.0);
      -ms-transform: scaleX(1.0);
          transform: scaleX(1.0);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

.download-app {
  margin-left: auto;
}

.wrapper-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrapper-part._1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrapperpart-textdiv {
  margin-right: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.8em;
  bottom: 1em;
}

.valtracker-logo-large.wrapper-part_1 {
  margin-left: 10rem;
  width: 30%;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

.downloadbutton {
  background: -webkit-gradient(linear, left top, right top, from(#c80043), to(#b700ff));
  background: -o-linear-gradient(left, #c80043, #b700ff);
  background: linear-gradient(to right, #c80043, #b700ff);
  border: none;
  padding: 0.6rem;
  border-radius: 4px;
  color: white;
  position: relative;
  top: -0.52rem;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  font-size: 0.9em;
}

.downloadbutton:hover {
  -webkit-box-shadow:
    0 0 2.5px rgba(255, 0, 85, 0.7),
    0 0 5px rgba(255, 0, 85, 0.7),
    0 0 20px rgba(255, 0, 85, 0.7);
          box-shadow:
    0 0 2.5px rgba(255, 0, 85, 0.7),
    0 0 5px rgba(255, 0, 85, 0.7),
    0 0 20px rgba(255, 0, 85, 0.7);
}

.logo-plus-backtotop {
  cursor: pointer;
}

.wrapperpart-textdiv._2 {
  margin-right: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1em;
  width: 50%;
  bottom: 1em;
}

.wrapper-part._2 {
  margin-left: 12rem;
  margin-right: 12rem;
  margin-bottom: 10rem;
} 

.promo-img-matchview-home {
  -webkit-filter: drop-shadow(15px 15px 15px #000);
          filter: drop-shadow(15px 15px 15px #000);
}

.wrapper-part._5 {
  margin-left: 12rem;
  margin-right: 12rem;
  margin-bottom: 10rem;
}

.wrapperpart-textdiv._5 {
  margin-right: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1em;
  width: 50%;
  bottom: 1em;
}

.promo-img-playersearch {
  -webkit-filter: drop-shadow(-15px 15px 15px #000);
          filter: drop-shadow(-15px 15px 15px #000);
  margin-right: 5rem;
}

.wrapper-part._3 {
  margin-left: 12rem;
  margin-right: 12rem;
  margin-bottom: 10rem;
}

.wrapperpart-textdiv._3 {
  margin-right: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1em;
  width: 50%;
  bottom: 1em;
}

.promo-img-playersearch {
  -webkit-filter: drop-shadow(-15px 15px 15px #000);
          filter: drop-shadow(-15px 15px 15px #000);
  margin-right: 5rem;
}

.wrapper-part._5 {
  margin-left: 12rem;
  margin-right: 12rem;
  margin-bottom: 10rem;
}

.wrapperpart-textdiv._5 {
  margin-right: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1em;
  width: 50%;
  bottom: 1em;
}

.promo-img-home-featured-bundle {
  -webkit-filter: drop-shadow(15px 15px 15px #000);
          filter: drop-shadow(15px 15px 15px #000);
  margin-right: 5rem;
}

.wrapper-part._4 {
  margin-left: 12rem;
  margin-right: 12rem;
  margin-bottom: 10rem;
}

.wrapperpart-textdiv._4 {
  margin-right: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1em;
  width: 50%;
  bottom: 1em;
}

.promo-img-favs {
  -webkit-filter: drop-shadow(-15px 15px 15px #000);
          filter: drop-shadow(-15px 15px 15px #000);
  margin-right: 5rem;
}

.wrapper-part._6 {
  margin-left: 12rem;
  margin-right: 12rem;
  margin-bottom: 10rem;
}

.wrapperpart-textdiv._6 {
  margin-right: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1em;
  width: 50%;
  bottom: 1em;
}

.promo-img-bundles {
  -webkit-filter: drop-shadow(15px 15px 15px #000);
          filter: drop-shadow(15px 15px 15px #000);
  margin-right: 5rem;
  width: 75%;
}

.logo-text-flexdiv {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-left: 1.5rem;
}

.val-tracker-logospan {
  font-size: 1.2em;
}

.footer-downloadbutton {
  background: -webkit-gradient(linear, left top, right top, from(#c80043), to(#b700ff));
  background: -o-linear-gradient(left, #c80043, #b700ff);
  background: linear-gradient(to right, #c80043, #b700ff);
  border: none;
  padding: 0.6rem;
  border-radius: 4px;
  color: white;
  position: relative;
  top: -0.52rem;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  font-size: 0.9em;
  margin-top: 1rem;
  width: 75%;
}

.footer-downloadbutton:hover {
  -webkit-box-shadow:
    0 0 1px rgba(255, 0, 85, 0.7),
    0 0 2.5px rgba(255, 0, 85, 0.7),
    0 0 10px rgba(255, 0, 85, 0.7);
          box-shadow:
    0 0 1px rgba(255, 0, 85, 0.7),
    0 0 2.5px rgba(255, 0, 85, 0.7),
    0 0 10px rgba(255, 0, 85, 0.7);
}

.logo-and-download-footer {
  width: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 2rem;
}

.footer-flexdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 95%;
}

.footer-ul {
  margin-top: 2.5rem;
  font-size: 1.3em;
  text-align: left;
}

.footer-ul.social-media-footer {
  margin-left: auto;
  margin-right: 2rem;
}

.footer-bottom {
  height: 5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(32, 32, 32);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.riot-games-legal-button-footer {
  background: grey;
  color: #000 !important;
  border: none;
  padding: 0.6rem;
  position: absolute;
  top: 0.75rem;
  border-radius: 4px;
  color: white;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  font-size: 0.9em;
  margin-top: 1rem;
  width: 20%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.riot-games-legal-button-footer:hover {
  -webkit-box-shadow:
    0 0 1px rgba(0, 162, 255, 0.7),
    0 0 2.5px rgba(0, 162, 255, 0.7),
    0 0 10px rgba(0, 162, 255, 0.7);
          box-shadow:
    0 0 1px rgba(0, 162, 255, 0.7),
    0 0 2.5px rgba(0, 162, 255, 0.7),
    0 0 10px rgba(0, 162, 255, 0.7);
}

.footer-bottom span {
  margin-top: 0.25rem;
}

.footer-header {
  color: grey;
}

@media screen and (max-width: 1600px) {
  .wrapper {
    position: relative;
    left: -8rem;
  }
  .wrapper-part {
    width: 85%;
  }
}

@media screen and (max-width: 1600px) {
  .wrapper {
    position: relative;
    left: -8rem;
    width: 108%;
  }
}

@media screen and (max-width: 1140px) {
  .wrapper {
    position: relative;
    left: -8rem;
    width: 108%;
  }
  .promo-img-favs {
    margin-right: 0;
  }
  .wrapper-part {
    margin-left: 0;
    margin-right: 0;
    width: 85%;
  }
  .promo-img-matchview-home {
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
  }

  .promo-img-home-featured-bundle {
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
    width: 120%;
  }

  .promo-img-favs {
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
  }
  .wrapper-part._4 {
    margin-left: 4rem;
    margin-right: 2rem;
    width: 90%;
  }
}

@media screen and (max-width: 990px) {
  #promo-img {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }
  .promo-img-bundles {
    -webkit-transform: scale(0.9) !important;
        -ms-transform: scale(0.9) !important;
            transform: scale(0.9) !important;
  }
}

@media screen and (max-width: 930px) {
  #promo-img {
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
  }
  .promo-img-bundles {
    -webkit-transform: scale(0.8) !important;
        -ms-transform: scale(0.8) !important;
            transform: scale(0.8) !important;
  }
  .wrapper-part._4 {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}
@media screen and (max-width: 870px) {
  #promo-img {
    display: none;
  }
  .wrapper {
    position: relative;
    left: -6rem;
    width: 100%;
  }
  .wrapper-part._4 {
    margin-left: 12rem;
    width: 60%;
  }
  .wrapper-part {
    width: 60%;
  }
}

@media screen and (max-width: 1060px) {
  .valtracker-logo-large.wrapper-part_1 {
    width: 18rem;
    height: 18rem;
  }
}
@media screen and (max-width: 780px) {
  .wrapper-part._1 {
    position: relative;
    left: -5rem;
  }
  .footer-downloadbutton {
    width: 100%;
  }
}

@media screen and (max-width: 638px){
  .logo-plus-backtotop {
    margin-left: 0;
    margin-right: 10px;
  }
  .navbar-span {
    margin-right: 10px;
  }
  .wrapperpart-textdiv {
    width: 100% !important;
    margin: 0 !important;
  }
  .wrapper {
    font-size: 0.7em;
  }
  .navbar-span.about-the-project {
    display: none;
  }
  .footer-downloadbutton {
    width: 120%;
  }
  footer {
    font-size: 0.7em;
  }
  .footer-flexdiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-ul.social-media-footer {
    margin-left: 2rem;
  }
  .footer-ul {
    margin-left: 2rem;
  }
  .logo-and-download-footer {
    width: 50%;
  }
  #download-app {
    display: none;
  }
  .wrapper-part._1 {
    font-size: 0.7em;
  }
  .valtracker-logo-large.wrapper-part_1 {
    width: 10rem;
    height: 10rem;
  }
}

@media screen and (max-width: 424px) {
  .wrapper-part {
    margin-left: 1rem;
  }
  .wrapper-part._2 {
    margin-left: 8rem;
    margin-bottom: 2rem;
  }
  .wrapper-part._3 {
    margin-left: 8rem;
    margin-bottom: 2rem;
  }
  .wrapper-part._4 {
    margin-left: 8rem;
    margin-bottom: 2rem;
  }
  .wrapper-part._5 {
    margin-left: 8rem;
    margin-bottom: 2rem;
  }
  .wrapper-part._6 {
    margin-left: 8rem;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 2400px) {
  .logo-and-download-footer {
    position: relative;
    top: -3rem;
  }
}

@media screen and (min-width: 2850px) {
  .logo-and-download-footer {
    position: relative;
    top: -5rem;
  }
  footer {
    height: 38rem;
  }
}