@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

:root {
  --app-color: #0b0e11;
  --app-color-light: #1b222b;
  --app-color-lightest: #242e3a;
}

/* Basic styling */
* {
  font-family: 'Readex Pro', sans-serif;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: var(--app-color);
  color: #FFF;
  margin: 0px; 
  padding: 0px; 
  overflow-x: hidden;
}

/*Custom Scrollbar*/

*::-webkit-scrollbar {
  font-size: 25px;
  width: 0.8rem;
}
*::-webkit-scrollbar-track {
  background: #1e1e24;
}
*::-webkit-scrollbar-thumb {
  background: rgb(194, 194, 194);
}

ul {
  list-style-type: none;
}

/*Links*/
a {
  cursor: pointer;
}

a:link {
  color: rgba(255,255,255,.5); 
  text-decoration: none;
}
a:hover {color:rgb(255, 255, 255)}
a:active {color:rgb(255, 255, 255)}
a:visited {color:rgba(255,255,255,.5)}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}

nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: rgb(0, 0, 0);
  color: white;
  -ms-flex-line-pack: center;
      align-content: center;
  z-index: 100;
  justify-content: space-around;
}

footer {
  position: relative;
  clear: both;
  color: white;
  text-align: center;
  min-height: 5rem;
  width: calc(100% + 1rem);
  bottom: -3.5rem;
  left: -0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

.valtracker-logo-small {
  width: 4rem;
  position: relative;
  top: -0.5rem;
}

.valtracker-logotext {
  position: relative;
  top: -2rem;
  font-weight: 400;
  font-size: 1.5em;
}

.logo-plus-backtotop {
  position: relative;
  margin-left: 0.5rem;
  margin-right: 2rem;
  top: 0.4rem;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}

.navbar-span {
  margin-right: 2rem;
  font-size: 1.1em;
  font-weight: 200;
  margin-top: 0.75rem;
  display: inline-block;
  position: relative;
  top: 0.5rem;
}

.downloadbutton:hover {
  -webkit-box-shadow:
    0 0 2.5px rgba(255, 0, 85, 0.7),
    0 0 5px rgba(255, 0, 85, 0.7),
    0 0 20px rgba(255, 0, 85, 0.7);
          box-shadow:
    0 0 2.5px rgba(255, 0, 85, 0.7),
    0 0 5px rgba(255, 0, 85, 0.7),
    0 0 20px rgba(255, 0, 85, 0.7);
}

.promo-img-bundles {
  -webkit-filter: drop-shadow(15px 15px 15px #000);
          filter: drop-shadow(15px 15px 15px #000);
  margin-right: 5rem;
  width: 75%;
}

.logo-text-flexdiv {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-left: 1.5rem;
}

.val-tracker-logospan {
  font-size: 1.2em;
}

.footer-downloadbutton {
  background: #c80043;
  border: none;
  padding: 0.6rem;
  margin-top: 1rem;
  top: -0.52rem;
  margin-top: 1rem;
  width: 75%;
}

.logo-and-download-footer {
  width: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 2rem;
  text-align: center;
}

.footer-flexdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 95%;
}

.footer-ul {
  margin-top: 2.5rem;
  font-size: 1.3em;
  text-align: left;
}

.footer-ul.social-media-footer {
  margin-left: auto;
  margin-right: 2rem;
}

.footer-bottom {
  height: fit-content;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(32, 32, 32);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.riot-games-legal-button-footer {
  background: rgba(47, 53, 77, 0.9);
  color: #000 !important;
  border: none;
  padding: 0.6rem;
  position: absolute;
  top: 0.75rem;
  border-radius: 4px;
  color: white;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  font-size: 0.9em;
  margin-top: 1rem;
  width: 20%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.riot-games-legal-button-footer:hover {
  -webkit-box-shadow:
    0 0 1px rgba(0, 162, 255, 0.7),
    0 0 2.5px rgba(0, 162, 255, 0.7),
    0 0 10px rgba(0, 162, 255, 0.7);
          box-shadow:
    0 0 1px rgba(0, 162, 255, 0.7),
    0 0 2.5px rgba(0, 162, 255, 0.7),
    0 0 10px rgba(0, 162, 255, 0.7);
}

.background-video-wapper {
  width: 100%;
  position: relative;
  top: -6rem;
  left: 0;
  background: rgb(255, 255, 255);
  z-index: 2;
}

.bg-vid {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -10rem;
  object-fit: cover;
  z-index: 1;
}

.bg-vid-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #000;
}

.bg-vid-wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.65);
}

.background-video-overlay {
  position: absolute;
  background: rgb(255, 255, 255);
  top: -6rem;
  left: 0;
  z-index: 3;
}

.landing-wrapper {
  position: relative;
  top: 3rem;
}

.content {
  position: relative;
  z-index: 2;
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.content-header {
  margin-top: 10rem;
  font-size: 1.5em;
  margin-bottom: 50rem;
  width: 90%;
}

.page-h1 {
  font-size: 2.5em;
  margin-bottom: 0;
}

button {
  border-radius: 4px;
  color: white;
  position: relative;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  font-size: 0.9em;
}

button:hover {
  background: #8f0030;
}

.download-button {
  background: #c80043;
  border: none;
  padding: 0.6rem;
  margin-top: 1rem;
  width: 12rem;
}

.href-button {
  background: none;
  border: 2px solid rgba(47, 53, 77, 0.9);
  padding: 0.49rem;
  margin-top: 1rem;
  width: 12rem;
}

.download-button:hover {
  background: #8f0030;
}

.href-button:hover {
  border: 2px solid rgb(212, 212, 212);
  background: none;
}

.download-counter {
  color: rgba(47, 53, 77, 0.9);
  margin-top: 0.5rem;
  font-size: 0.8em;
}

.download-counter-num {
  color: rgb(185, 185, 185);
  font-weight: bold;
}

.promo-wrapper {
  width: 100%;
  background: var(--app-color);
  position: relative;
  z-index: 3;
  top: -19rem;
  display: flex;
  flex-direction: column;
}

.promo-tiles-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 70%;
  width: 70%;
  margin-top: 2rem;
  padding-bottom: 1rem;
  background-color: var(--app-color-light);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.promo-tile-section {
  display: flex;
  flex-direction: row;
  height: 15rem;
}

.promo-tile-seperator {
  width: 90%;
  height: 1px;
  background: linear-gradient(to right, #c80043, #ff006a);
  border: none;
  margin-top: 1.5rem;
}

.promo-tile-text-wrapper {
  margin-left: 2.5rem;
  width: 50%;
  margin-right: 8rem;
}

.promo-tile-img-wrapper {
  width: 50%;
  background-color: var(--app-color-lightest);
  border-radius: 4px;
  margin-left: 1rem;
  margin-top: 1rem;
}

.promo-tile-img {
  background-color: var(--app-color);
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid rgba(47, 53, 77, 0.9);
  filter: drop-shadow(0px 0px 10px #000000);
}

.promo-wrapper-header {
  margin-left: auto;
  margin-right: auto;
  font-size: 3em;
  margin-bottom: 0;
}

.scroll-down-info {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.scroll-down-info span {
  color: rgb(100, 100, 100);
}

.scroll-down-info i {
  color: rgb(100, 100, 100);
  background: linear-gradient(to bottom, #c80043, #ff00bf);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.scroll-down-info-wrapper {
  position: absolute;
  margin-top: 24%;
  width: 100%;
  display: flex;
  z-index: 6;
}

.promo-collection {
  padding: 1rem;
  border-radius: 4px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--app-color-light);
}

.promo-line {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.promo-card-small {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 4px;
  width: 50%;
  height: 10rem;
  background-color: var(--app-color-lightest);
  text-align: center;
}

.promo-card-wide {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 4px;
  height: 10rem;
  background-color: var(--app-color-lightest);
  text-align: center;
}

.promo-card-small p {
  padding-left: 2rem;
  padding-right: 2rem;
}

.promo-card-small h1 {
  margin-top: 0.5rem; 
  margin-bottom: 0.5rem;
}

.promo-card-wide h1 {
  margin-top: 0.5rem; 
  margin-bottom: 0.5rem;
}

#promocard-icon {
  color: #ff0055;
  font-size: 0.8em;
  filter: drop-shadow(0px 0px 10px #000000);
  position: relative;
  top: -2px;
}

.discord-href, .api-href {
  background: none;
  border: 2px solid rgba(47, 53, 77, 0.9);
  padding: 0.49rem;
  margin-bottom: 1rem;
  width: 12rem;
  margin-left: auto;
  margin-right: auto;
}

.discord-href:hover {
  border: 2px solid #5b71c0;
  background: none;
}

.api-href:hover {
  border: 2px solid #db2777;
  background: none;
}

.bottom-content:not(button) {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.5em;
}

.bottom-content h1 {
  margin-bottom: 0.1rem;
}

.bottom-content button {
  font-size: initial;
  padding: 1rem;
}

@media only screen and (max-width: 1334px) {
  .promo-collection {
    width: 80%;
  }
}

@media only screen and (max-width: 1020px) {
  .promo-tile-img-wrapper {
    display: none;
  }
  .promo-tile-text-wrapper {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .promo-tile-section {
    height: auto;
  }
}

@media only screen and (max-width: 800px) {
  .promo-card-small {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 1rem;
    height: auto;
  }
  .promo-line {
    flex-direction: column;
    margin-bottom: 0;
  }
  .promo-card-wide {
    height: auto;
    width: 100%;
    margin: 0;
    margin-bottom: 1rem;
  }
  .promo-card-wide p {
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 520px) {
  .download-button {
    display: none;
  }
  .logo-plus-backtotop {
    margin-left: auto;
    margin-right: auto;
  }
  .content-header {
    font-size: 1.1em;
  }
  h1 {
    font-size: 1.2em;
  }
  .promo-wrapper-header {
    font-size: 1.7em;
  }
  .promo-wrapper-header.much-more {
    font-size: 1.7em !important;
  }
}

@media only screen and (min-width: 2100px) {
  .promo-tiles-wrapper {
    min-width: 50%;
    width: 50%;
  }
}

.footer-bottom span {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#hidden-downloadcount {
  display: none;
}

#hidden-downloadurl {
  display: none;
}