@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Bahnschrift, sans-serif;
  @apply text-white;
}

h1 {
  @apply text-7xl font-bold;
}

h2 {
  @apply text-6xl font-bold;
}

h3 {
  @apply text-5xl font-bold;
}

h4 {
  @apply text-4xl font-bold;
}

h5 {
  @apply text-3xl font-bold;
}

h6 {
  @apply text-2xl font-bold;
}

a {
  @apply text-button-color hover:text-button-color-hover hover:underline transition-all duration-100 ease-in bg-opacity-100 cursor-pointer;
}

button:not(.special-button):not(.nav-button):not(.docs-button):not(.small-text):not(.button-1):not(.button-2):not(.button-3-container) {
  border: none;
  @apply bg-button-color text-button-text text-lg font-semibold z-auto;
  padding: 8px 22px;
  border-radius: 4px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

button.small-text {
  border: none;
  @apply bg-button-color text-button-text text-sm font-semibold;
  padding: 8px 22px;
  border-radius: 4px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

button:not(.special-button):not(.nav-button):not(.docs-button):not(.button-1):not(.button-2):not(.button-3-container):hover {
  @apply bg-button-color-hover;
}

.nav-button {
  @apply bg-maincolor-light text-button-text text-lg font-semibold border-2 border-maincolor;
  padding: 6px 22px;
  border-radius: 4px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

button:not(.special-button):not(.button-1):not(.button-2):not(.button-3-container):hover {
  @apply bg-maincolor;
}

*::-webkit-scrollbar {
  font-size: 25px;
  width: 0.4rem;
  height: 0.4rem;
}

*::-webkit-scrollbar-track {
  background: #1e1e24;
}
*::-webkit-scrollbar-thumb {
  background: rgb(194, 194, 194);
  border-radius: 9999px;
}

.yellow-glow {
  box-shadow: 0 0 7px rgba(255, 255, 0, 0.8);
}

.docs-navbar {
  height: calc(100% - 4rem);
}

@media (min-width: 640px) {
  .docs-navbar {
    height: 100%;
  }
}

code {
  @apply bg-black bg-opacity-80 py-px px-2 rounded;
}

.code-font, .code-font span {
  font-family: "Lucida Console", "Courier New", monospace;
}

.json-key {
  @apply text-gradient-left;
}

.json-value {
  @apply text-gradient-right;
}

.json-string {
  @apply text-val-blue;
}

.button-1, .button-2 {
  @apply transition-all ease-out duration-1000 opacity-100;
  border: none;
  @apply bg-button-color text-button-text text-lg font-semibold z-auto;
  padding: 8px 22px;
  border-radius: 4px;
  outline: none;
  position: relative;
}

.button-3-container {
  @apply transition-all ease-out duration-1000 opacity-100 delay-1000;
}

.button-1:hover, .button-2:hover {
  @apply bg-button-color-hover;
}

.button-1.w-44 {
  @apply bottom-0;
}

.button-1.w-44.animate {
  @apply bottom-24 opacity-0;
}

.button-1:not(.w-44) {
  @apply left-0;
}

.button-1.animate:not(.w-44) {
  @apply left-24 opacity-0;
}

.button-2 {
  @apply right-0;
}

.button-2.animate {
  @apply right-24 opacity-0;
}

.button-2 {
  @apply right-0;
}

.button-2.animate {
  @apply right-24 opacity-0;
}

.button-3-container {
  @apply relative top-0;
}

.button-3-container.animate, {
  @apply top-12 opacity-0;
}

.scroll-info {
  @apply opacity-100 transition-all duration-1000 ease-out;
}

.scroll-info.animate {
  @apply opacity-0;
}

@keyframes button1 {
  0% {
    opacity: 0;
    right: 200px;
  }
  100% {
    opacity: 1;
    right: 0px;
  }
}

.arrow-down {
  animation-name: arrowFloatUp;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  @apply relative;
}

.floaty { 
  animation-name: float;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  @apply relative;
}

.floaty.fast { 
  animation-name: float;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  @apply relative;
}

@keyframes arrowFloatUp {
  0% { 
    transform: translateY(200px); 
  }
  100% { 
    transform: translateY(0px); 
  }
}

@keyframes float {
  0% { 
    transform: translate(0,  0px); 
  }
  50% { 
    transform: translate(0, 10px); 
  }
  100% { 
    transform: translate(0, -0px); 
  }
}

@keyframes comeInOut {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.sparkle-wrapper {
  animation: comeInOut 700ms forwards;
}

.sparkle-svg {
  animation: spin 1000ms linear;
}